/* =========================
   GLOBAL FONT SETUP
========================= */
:root {
  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Headings default to Poppins */
h1, h2, h3, h4, h5, h6,
button {
  font-family: var(--font-heading);
}

/* Code stays monospace */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
